@font-face {
  font-family: "Amiri";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/l/font?kit=J7aRnpd8CGxBHqUsprDgRkP5w70&skey=159039cc026b7e65&v=v30) format("woff2");
  unicode-range: U+628, U+633, U+645;
}
